[Unit]
Description=Gold Standard Docker Compose Stack
After=docker.service network-online.target
Wants=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/mnt/newdisk/gold_standard/docker
ExecStart=/usr/bin/docker-compose --profile monitoring --profile logging up -d
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
