[Unit]
Description=Syndicate Run Once Script

[Service]
Type=oneshot
ExecStart=/opt/run_syndicate_with_venv.sh
WorkingDirectory=/mnt/disk/syndicate
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
