[Unit]
Description=Gold Standard healthcheck service
After=network.target

[Service]
Type=oneshot
User=ali
ExecStart=/opt/gold_standard_health_check.sh

[Install]
WantedBy=multi-user.target
